---
title: The Mavens Telescope
# layout: default
permalink: /mavens/
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>"{{ site.title }}"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ site.mavens_favicon }}" />
    <link rel="stylesheet" href="https://platanus-xx.github.io/ThalesPosellaWebsite/css/front.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet'
        type='text/css'>

</head>

<body>
    <div class="content_mavens">
        {% if site.mavens_background_img %}
        <img src="{{ site.mavens_background_path }}" id="fullscreen">
        {% endif %}
        <img src="{{ site.mavens_logo }}" id="mavens_logo">
        </br></br></br>
        <h2>{{ site.mavens_description }}</h2>
        </br></br></br></br>
        <h4>The Mavens Telescope is an all-original Alternative/Prog/Rock project by Thales Posella and Beto Ferrari.</br>
            Our debut album, "The Seed of True Existence" was release in 2015.</br>
            The second album, "Endurance" will be out soon and the links will also be available below!</br>
            Enjoy!
        </h4>
        </br>
        <!--ENDURANCE-->
        <h3>Endurance (coming soon...)</h3>
        {% if site.mavens_endurance_img %}
        <img src="{{ site.mavens_endurance_path }}" id="album">
        {% endif %}
        </br>
        </br>
        <!--
        <ul>
            <li><a class="fa fa-2x fa-spotify" href="https://open.spotify.com/artist/2awEfAhaTrCLNHClsS5KKQ"
                    target="_blank"><span class="description">Spotify</span></a></li>
            <li><a class="fa fa-2x fa-apple"
                    href="https://music.apple.com/br/artist/the-mavens-telescope/947243467"
                    target="_blank"><span class="description">Apple Music</span></a></li>
        </ul>
        -->
        </br>
        <h4>
            All lead and backup vocals (except as noted below), electric and acoustic guitars, pianos, synths,</br>
            percussions, banjos, tin whistles, string programming, and voice-overs were recorded by Thales Posella.</br>
            All the drums were recorded by Beto Ferrari.</br>
            All the bass lines were recorded by Marcio Herzer.</br>
            Cellos on “Finding Solace” were recorded by Noah Hoffeld.</br>
            Shona vocals on “The Void” were recorded by Ian T. Mhlanga.</br></br>
            All music produced, arranged, engineered, mixed, and mastered by Thales Posella.
        </h4>
        <a href="/" target="_blank">Download the Endurances's Digital Booklet here</a>
        </br></br></br>
        </br><hr />
        </br></br></br>
        <!--Seeds-->
        <h3>The Seed of True existence</h3>
        {% if site.mavens_seeds_img %}
        <img src="{{ site.mavens_seeds_path }}" id="album">
        {% endif %}
        </br>
        </br>
        </br>
        <ul>
            <li><a class="fa fa-2x fa-spotify" href="https://open.spotify.com/artist/2awEfAhaTrCLNHClsS5KKQ"
                    target="_blank"><span class="description">Spotify</span></a></li>
            <li><a class="fa fa-2x fa-apple"
                    href="https://music.apple.com/br/artist/the-mavens-telescope/947243467"
                    target="_blank"><span class="description">Apple Music</span></a></li>
        </ul>
        </br>
        <a href="/downloads/The Mavens Telescope - The Seed of True Existence (Digital Booklet).jpg" target="_blank">Download the The Seed of True Existence's Digital Booklet here</a>
        </br></br></br>
        </br><hr />
        </br></br></br>
        <h3>More content on social media below!</h3>
        <ul>
            {% if site.email %}
            <li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}" target="_blank"><span
                        class="description">Email</span></a></li>
            {% endif %}
            
            {% if site.mavens_insta_username %}
            <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.mavens_insta_username }}"
                    target="_blank"><span class="description">Instagram</span></a></li>
            {% endif %}

            {% if site.mavens_yt_username %}
            <li><a class="fa fa-2x fa-youtube-play" href="https://www.youtube.com/@{{ site.mavens_yt_username }}"
                    target="_blank"><span class="description">YouTube</span></a></li>
            {% endif %}

        </ul>
        <div id="space"></div>
    </div>
    <footer>
        <p>Author: Thales Posella<br>
    </footer>

</body>

</html>