---
permalink: /
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if site.favicon_img %}
    <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
    {% endif %}
    <!-- <link rel="stylesheet" href="{{ "/css/front.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="https://platanus-xx.github.io/ThalesPosellaWebsite/css/front.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet'
        type='text/css'>

</head>

<body>
    <div class="content">
        {% if site.front_img %}
        <img src="{{ site.front_img_path }}" id="fullscreen">
        {% endif %}
        <div id="space"></div>
        {% if site.avatar %}
        <img src="{{ site.avatar_img_path }}" id="avatar">
        {% endif %}

        <h1>{{ site.name }}</h1>
        </br>
        <h2>{{ site.description }}</h2>
        </br>
        </br>
        </br>
        </br>
        <h3>Silver Angel by Ivan Busic</h3>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/kQcwBS50bYo">
        </iframe>
        </br>
        <h4>On this project I've recorded all rhythm guitars using 2 small diaprahm AKGs as mic setup on each
            side.</br>I've recorded Piano using 2 AKGs as L+R.</br>Drums and vocals by Ivan Busic, bass by Andria Busic
            and additional centered guitar by Marco Bavini.</br>Backup vocals by Thales Posella and Marco
            Bavini.</br>I've mixed and mastered the track and also appeared as
            the piano player on the music video.</h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Nothing Else Matters by Metallica (cover by Thales Posella & Eduardo Deberaldini)</h3>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/UpCvzffHpio">
        </iframe>
        </br>
        <h4>This was a sad but beautiful project I've recorded as a tribute to the passing of a very close
            friend, Eduardo Deberaldini.</br>I've recorded all acoustic, virtual instruments and vocals.</br>Old footage
            and sound from
            Eduardo Deberaldini on electric guitars were used postmortem.</br>I've mixed and mastered the track and
            edited the video.</h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Klimbim by Don Ross (cover by Thales Posella)</h3>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/PECvckxGg90">
        </iframe>
        </br>
        <h4>This is a cover from the beautiful song by Don Ross.</br>I had a great time recording my take on it.</br>The
            Mic setup
            is straight forward and can be seen on the video itself.</h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>M.A.T. by Thales Posella</h3>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/D0436K7POrQ">
        </iframe>
        </br>
        <h4>This is my entry for the Mateus Asato/Suhr contest. Although I didn't win, I got an honorable mention by
            Mateus and Suhr.</br>This features a custom made Strat straight into the Mesa Boogie
            Mark IV into a Laney 4x12-v30s
            cabnet.</br>Mic setup was 1 sm57 On-enter, another SM57 Off-center and a Ribon Mic handmade by @lisciel.
        </h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Sisters by Steve Vai (cover by Thales Posella)</h3>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/k43zWtoZgHs">
        </iframe>
        </br>
        <h4>This is a cover from the amazing Steve Vai.</br>This features a JEM 77FP 1989 straight to the Mesa Boogie
            MarkV into a Laney 4x12-v30s
            cabnet.</br>Mic setup was 2 sm57s, one On-enter and another Off-center. With an additional large diaphram
            AKG as room mic.
        </h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Wicked Game by Chris Isaack (piano version by Thales Posella)</h3>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/nH7uPmXi6ow">
        </iframe>
        </br>
        <h4>This is a piano version I've made as a tribute to this beautiful song by Chris Isaack.</br>This features an
            original Steinwein 1929 upright piano.</br>Mic setup was 2 small diaphram AKGs on the piano and one large
            diaphram AKG on vocals.
        </h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>The Mavens Telescope</h3>
        <img src="{{ site.mavens_path }}" id="mavens">
        <h4>This is an original music project called The Mavens Telescope.</br>I've produced, recorded all guitars,
            piano, synths, virtual instruments,
            backing vocals and mixed the whole album. It was mastered by Andy VanDette in NYC.</br>You can check it out
            through the links bellow...
        </h4>
        <ul>
            <li><a class="fa fa-2x fa-spotify" href="https://open.spotify.com/artist/2awEfAhaTrCLNHClsS5KKQ"
                    target="_blank"><span class="description">Spotify</span></a></li>
            <li><a class="fa fa-2x fa-apple"
                    href="https://itunes.apple.com/br/album/the-seed-of-true-existence/1181892275?l=en"
                    target="_blank"><span class="description">Apple Music</span></a></li>
        </ul>
        </br>
        </br>
        <hr />
        </br>
        <h3>Didn't find what you were looking for? More content on social media bellow!</h3>
        <ul>
            {% if site.youtube_username %}
            <li><a class="fa fa-2x fa-youtube-play" href="https://www.youtube.com/{{ site.youtube_username }}"
                    target="_blank"><span class="description">YouTube</span></a></li>
            {% endif %}

            {% if site.instagram_username %}
            <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"
                    target="_blank"><span class="description">Instagram</span></a></li>
            {% endif %}

            {% if site.twitter_username %}
            <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"
                    target="_blank"><span class="description">Twitter</span></a></li>
            {% endif %}

            {% if site.facebook_username %}
            <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ site.facebook_username }}"
                    target="_blank"><span class="description">Facebook</span></a></li>
            {% endif %}

            {% if site.email %}
            <li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}" target="_blank"><span
                        class="description">Email</span></a></li>
            {% endif %}

        </ul>
        <div id="space"></div>
    </div>


</body>

</html>