---
permalink: /
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if site.favicon_img %}
    <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
    {% endif %}
    <!-- <link rel="stylesheet" href="{{ "/css/front.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="https://platanus-xx.github.io/ThalesPosellaWebsite/css/front.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet'
        type='text/css'>

</head>

<body>
    <div class="content">
        {% if site.front_img %}
        <img src="{{ site.front_img_path }}" id="fullscreen">
        {% endif %}
        <div id="space"></div>
        {% if site.avatar %}
        <img src="{{ site.avatar_img_path }}" id="avatar">
        {% endif %}

        <h1>{{ site.name }}</h1>
        </br>
        <h2>{{ site.description }}</h2>
        </br>
        <h4>This is a portfolio website where you can see some of my work as a musician, composer and session
            player.</br>Some of the recording process are
            described bellow the videos.</h4>
        </br>
        </br>
        </br>
        <h3>Please be Well | Neil Nathan</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/m09_ZAumCSo" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>Vocals by Neil Nathan</br>
            Acoustic guitars by Thales Posella</br>
            Piano by Thales Posella</br>
            Virtual instruments by Thales Posella</br>
            Steel by Mike Brenner</br></br>
            Arrengement by Thales Posella and Neil Nathan</br>
            Mix by Thales Posella</br>
            Master by Thales Posella</h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Silver Angel | Ivan Busic</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/kQcwBS50bYo" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>Vocals by Ivan Busic</br>
            Drums by Ivan Busic</br>
            Bass by Andria Busic</br>
            Rhythm acoustic guitars by Thales Posella</br>
            Piano by Thales Posella</br>
            Virtual instruments by Thales Posella</br>
            Percussion by Thales Posella</br>
            Backup vocals by Thales Posella and Marco Bavini</br>
            Acoustic guitar melody by Marco Bavini</br></br>
            Arrengement by Thales Posella</br>
            Mix by Thales Posella</br>
            Master by Thales Posella</h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Nothing Else Matters | Metallica (Piano version by Thales Posella & Eduardo Deberaldini)</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/UpCvzffHpio" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>This was a sad but beautiful project I've recorded as a tribute to the passing of a very close
            friend, Eduardo Deberaldini.</br></br>
            Vocals by Thales Posella</br>
            Piano by Thales Posella</br>
            Virtual instruments by Thales Posella</br>
            Electric guitars by Eduardo Deberaldini</br></br>
            Arrengement by Thales Posella</br>
            Mix by Thales Posella</br>
            Master by Thales Posella</h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Klimbim | Don Ross (Cover by Thales Posella)</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/PECvckxGg90" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>This is a cover from a beautiful song by Don Ross.</br>It features a Blueridge guitar with 2 large
            diaphram condensers.</h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>M.A.T. | Thales Posella</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/D0436K7POrQ" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>This features a custom Strat straight into a Mesa Boogie
            Mark IV going into a Laney 4x12-v30s
            cabnet.</br>Mic setup was one sm57 On-center, another SM57 Off-center and a MD421 On-center.
        </h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Sisters | Steve Vai (Cover by Thales Posella)</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/k43zWtoZgHs" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>This is a cover from the amazing Steve Vai.</br>It features an Ibanez JEM 77FP 1989 straight into a Mesa
            Boogie
            Mark V going into a Laney 4x12-v30s
            cabnet.</br>Mic setup was 2 sm57s, one On-enter and another Off-center. With an additional large diaphram
            condenser as room mic.
        </h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Wicked Game | Chris Isaack (Piano version by Thales Posella)</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/nH7uPmXi6ow" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>This is a piano version I've made as a tribute to this beautiful song by Chris Isaack.</br>It features an
            original Steinwein 1929 upright piano.</br>Mic setup was 2 small diaphram condensers on the piano and one
            large
            diaphram condenser on vocals.
        </h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>You ain't the first | Guns n' Roses (Cover by Thales Posella)</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/rGLX12g35QA" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>This is an acoustic arrangement for this awesome song.</br>It features a
            Blueridge guitar, one small and one large diaphram condenser on the guitar and one large
            diaphram condenser on vocals.
        </h4>
        </br>
        <hr />
        </br>
        </br>
        <h3>Home Is Where We Belong | Thales Posella</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/yXkRa7dttaU" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        </br>
        <h4>This is an guitar-driven-instrumental song I wrote for my parents.</br>It features a
            Gibson Les Paul straight into the computer.
        </h4>
        </br>
        <hr />
        </br>
        </br>

        <h3>The Tie and The Sign | The Mavens Telescope</h3>
        <div class="container">
            <iframe src="//www.youtube.com/embed/x3pkyBzEByY" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
        <h4>This is an original music project called The Mavens Telescope.</br>I've composed, produced, engineered,
            recorded all guitars,
            piano, synths, virtual instruments,
            backing vocals and mixed the whole album.</br>It was mastered by Andy VanDette in NYC.</br>Check it out through the links bellow...
        </h4>
        <ul>
            <li><a class="fa fa-2x fa-spotify" href="https://open.spotify.com/artist/2awEfAhaTrCLNHClsS5KKQ"
                    target="_blank"><span class="description">Spotify</span></a></li>
            <li><a class="fa fa-2x fa-apple"
                    href="https://itunes.apple.com/br/album/the-seed-of-true-existence/1181892275?l=en"
                    target="_blank"><span class="description">Apple Music</span></a></li>
        </ul>
        </br>
        </br>
        <hr />
        </br>
        <h3>Didn't find what you were looking for? More content on social media bellow!</h3>
        <ul>
            {% if site.youtube_username %}
            <li><a class="fa fa-2x fa-youtube-play" href="https://www.youtube.com/{{ site.youtube_username }}"
                    target="_blank"><span class="description">YouTube</span></a></li>
            {% endif %}

            {% if site.instagram_username %}
            <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"
                    target="_blank"><span class="description">Instagram</span></a></li>
            {% endif %}

            {% if site.twitter_username %}
            <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"
                    target="_blank"><span class="description">Twitter</span></a></li>
            {% endif %}

            {% if site.facebook_username %}
            <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ site.facebook_username }}"
                    target="_blank"><span class="description">Facebook</span></a></li>
            {% endif %}

            {% if site.email %}
            <li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}" target="_blank"><span
                        class="description">Email</span></a></li>
            {% endif %}

        </ul>
        <div id="space"></div>
    </div>
    <footer>
        <p>Author: Thales Posella<br>
            <!-- <a href="mailto:platanus@gmail.com">hege@example.com</a></p> -->
    </footer>

</body>

</html>